@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}

@font-face {
    font-family: Icons;
    src: url(../font/icons.woff);
}